-
  // https://www.netlify.com/docs/continuous-deployment/#build-environment-variables
  const {envRootUrl, envRepositoryUrl} = (env => ({
    envRootUrl: env.URL || env.DEPLOY_PRIME_URL,
    envRepositoryUrl: env.REPOSITORY_URL,
  }))(process && process.env ? process.env : {});
