html {
  background-color: #111;
  color: #eee;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

body {
  width: 90%;
  max-width: 35em;
  margin: 0 auto;
  height: 100%;
}

@supports (text-emphasis-style: dot filled) or (-webkit-text-emphasis-style: dot filled) {
  em:lang(ja) {
    -webkit-text-emphasis-style: dot filled;
    text-emphasis-style: dot filled;
    font-style: normal;
  }
}

header {
  min-height: 200%;
}

header h2 {
  color: #f00;
  text-align: center;
}

header a {
  display: block;
  text-align: center;
  font-size: 1.5em;
}

main > * {
  margin-left:  auto;
  margin-right:  auto;
}

main h1 {
  text-align: center;
}

footer {
  text-align: right;
  border-top: solid;
  font-size: smaller;
}

footer small {
  font-size: 100%;
}

address dt,
address dd {
  display:  inline;
  margin: 0;
}

address dt:after {
  content:  ": ";
}

address dd:before {
  content: " / ";
}

address dt+dd:before {
  content: none;
}

.copyright {
  text-align: center;
}

.license {
  margin-left:  auto;
  margin-right: auto;
  width: calc(100% - 2em);
  border: 1px solid #ddd;
  padding: 1em;
  text-align: center;
}

.license .cc-logo {
  display: block;
  margin-bottom: 1em;
}

.license .cc-logo+br {
  display: none;
}

.view-repository {
  margin-bottom: 1em;
  text-align: center;
}

.view-repository > a {
  display: inline-block;
  text-decoration: none;
  border-radius: .25em;
  padding: .6em 1em;
  color: #fff;
  background-color: #333;
}
