html {
  background-color: #111;
  color: #eee;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

body {
  width: 90%;
  max-width: 35em;
  margin: 0 auto;
  height: 100%;
}

@supports (text-emphasis-style: dot filled) or (-webkit-text-emphasis-style: dot filled) {
  em:lang(ja) {
    -webkit-text-emphasis-style: dot filled;
    text-emphasis-style: dot filled;
    font-style: normal;
  }
}

header {
  min-height: 200%;
}

header h2 {
  color: #f00;
  text-align: center;
}

header a {
  display: block;
  text-align: center;
  font-size: 1.5em;
}

main > * {
  margin-left:  auto;
  margin-right:  auto;
}

main h1 {
  text-align: center;
}

footer {
  text-align: right;
  border-top: solid;
  font-size: smaller;
}

footer small {
  font-size: 100%;
}

.social-buttons {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -.6em;
  padding: 0;
}

.social-buttons > li {
  align-self: center;
  display: inline-block;
  margin-right: .6em;
  margin-bottom: .6em;
}

.social-buttons > li > * {
  display: inline-block;
}

.social-buttons > li > .default-button-style {
  border-radius: .25em;
  padding: .25em 1em;
  text-decoration: none;
  line-height: 1.5;
}

.social-buttons > li > .default-button-style.twitter-share-button {
  color: #fff;
  background-color: #1b95e0; /* hsv 203 88 88 */
}

.social-buttons > li > .default-button-style.twitter-share-button:active,
.social-buttons > li > .default-button-style.twitter-share-button:focus,
.social-buttons > li > .default-button-style.twitter-share-button:hover {
  background-color: #0c7abf; /* hsv 203 94 75 */
}

.social-buttons > li > .default-button-style.g-plus {
  background-color: #fff;
  color: #262626;
}

.social-buttons > li > .default-button-style.g-plus > img {
  vertical-align: text-top;
}

/*
 * Pocketのボタンに余計な余白ができるため、余白を消す
 */
.social-buttons > li > .pocket-btn {
  position: relative;
  top: 1px;
  margin-left: -3px;
  margin-right: -3px;
}

.social-buttons > li > .default-button-style.pocket-btn {
  position: static;
  top: 0;
  margin-left: 0;
  margin-right: 0;
  color: #fff;
  background-color: #ea5867; /* hsv 354 62 92 */
}

.social-buttons > li > .default-button-style.pocket-btn:active,
.social-buttons > li > .default-button-style.pocket-btn:focus,
.social-buttons > li > .default-button-style.pocket-btn:hover {
  background-color: #c9404e; /* hsv 354 68 79 */
}

.social-buttons > li > .default-button-style.hatena-bookmark-button {
  color: #fff;
  background-color: #42a4df;
}

.social-buttons > li > .default-button-style.hatena-bookmark-button > img {
  vertical-align: bottom;
}

.social-buttons > li > .default-button-style.tumblr-share-button {
  color: #fff;
  background-color: #36465d; /* hsv 215 42 36 */
}

.social-buttons > li > .default-button-style.tumblr-share-button:active,
.social-buttons > li > .default-button-style.tumblr-share-button:focus,
.social-buttons > li > .default-button-style.tumblr-share-button:hover {
  background-color: #1e2a3b; /* hsv 215 48 23 */
}

.social-buttons > li.pinterest-share-button > .default-button-style {
  color: #fff;
  background-color: #be3228; /* hsv 4 79 75 */
}

.social-buttons > li.pinterest-share-button > .default-button-style:active,
.social-buttons > li.pinterest-share-button > .default-button-style:focus,
.social-buttons > li.pinterest-share-button > .default-button-style:hover {
  background-color: #9e2118; /* hsv 4 85 62 */
}

/*
 * LINE Share Button
 */

.social-buttons > li > .default-button-style.line-it-button {
  background-color: #00b833;
  color: #fff;
}

.social-buttons > li > .default-button-style.line-it-button:active,
.social-buttons > li > .default-button-style.line-it-button:focus,
.social-buttons > li > .default-button-style.line-it-button:hover {
  background-color: #07a805;
}

.social-buttons > li > .default-button-style.line-it-button a {
  text-decoration: inherit;
  color: inherit;
}

address dt,
address dd {
  display:  inline;
  margin: 0;
}

address dt:after {
  content:  ": ";
}

address dd:before {
  content: " / ";
}

address dt+dd:before {
  content: none;
}

.copyright {
  text-align: center;
}

.license {
  margin-left:  auto;
  margin-right: auto;
  width: calc(100% - 2em);
  border: 1px solid #ddd;
  padding: 1em;
  text-align: center;
}

.license .cc-logo {
  display: block;
  margin-bottom: 1em;
}

.license .cc-logo+br {
  display: none;
}

.view-repository {
  margin-bottom: 0;
  padding-bottom: 1em;
  text-align: center;
}

.view-repository > a {
  display: inline-block;
  text-decoration: none;
  border-radius: .25em;
  padding: .6em 1em;
  color: #fff;
  background-color: #333;
}
