-
  const s = ' ';
  const creationDate = null;
  const generateTime = new Date;

include _env_load.pug
include _funcs.pug

-
  const baseUrl = envRootUrl;
  const title = '創作小説【夕食】';
  const description = '';
  const author = 'sounisi5011';
  const copyright = 'Some rights reserved.';
  const repositoryUrl = (envRepositoryUrl || '')
    .replace(
      /^git@github\.com:([^\/]+\/[^\/]+)$/,
      (_, path) => `https://github.com/${path}`
    )
    .replace(
      /^https?:(\/\/github\.com\/[^\/]+\/[^\/]+)$/,
      (_, non_scheme_url) => `https:${non_scheme_url.replace(/\.git$/, '')}`
    );
  const includeResources = [
    'sanitize.css',
    'font.css',
    'main.css',
    {src: 'https://platform.twitter.com/widgets.js', charset: 'utf-8', async: true},
  ];
  const twitterAccountList = [
    {name: 'sounisi5011Vore', id: '4676885804'},
  ];
  const ccLicense = {
    contentsTitle: '夕食',
    creatorName: 'sounisi5011',
    creatorSiteUrl: '',
    sourceUrl: 'https://twitter.com/wodnuyRnaiR/status/977500688279154688',
    contactUrl: '',
  };
  const ogp = {
    /*
     * required.
     */
    title: title,
    type: 'article',
    url: baseUrl,
    imageUrl: '',

    /*
     * optional.
     */
    locale: 'ja_JP',
    siteName: '',
    description: '',

    fb: {
      appId: '',
    },

    twitter: {
      /*
       * required.
       */
      card: 'summary', // summary or summary_large_image
      title: title,

      /*
       * optional.
       */
      site: '@sounisi5011Vore', // @username
      creator: '@sounisi5011Vore', // @username
      description: '',
      imageAlt: '',
    },
  };
